In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import random
import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from logistic_regression import logistic_regression

In [2]:
df = pd.read_csv("susysubset_physics.csv")
df

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Label
0,0.973,0.65400,1.180,1.160,-1.740,-0.874,0.568,-0.175,0.0
1,1.670,0.06420,-1.230,0.506,-0.339,1.670,3.480,-1.220,1.0
2,0.445,-0.13400,-0.710,0.452,-1.610,-0.769,1.220,0.504,1.0
3,0.381,-0.97600,0.693,0.449,0.892,-0.677,2.030,1.530,1.0
4,1.310,-0.69000,-0.676,1.590,-0.693,0.623,1.090,-0.382,1.0
...,...,...,...,...,...,...,...,...,...
99995,0.890,0.81400,-1.440,0.677,-0.704,0.636,2.950,1.620,1.0
99996,0.753,1.08000,1.010,0.918,0.450,-0.630,0.588,-0.176,0.0
99997,0.792,0.00934,-1.380,1.020,-1.440,0.587,0.638,-0.881,1.0
99998,0.514,-1.14000,-0.446,0.814,-0.294,0.555,0.541,1.680,0.0
99999,0.418,1.09000,0.271,0.499,0.834,1.660,0.522,-1.150,0.0

In [3]:
df = pd.read_csv("susysubset_physics.csv")
x = df.drop(columns = ['Label'])
x.insert(x.shape[1],'Bias', np.ones(df.shape[0]), True)
y = np.array(df['Label'])
y = y.reshape(y.shape[0],1)

In [4]:
x

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Bias
0,0.973,0.65400,1.180,1.160,-1.740,-0.874,0.568,-0.175,1.0
1,1.670,0.06420,-1.230,0.506,-0.339,1.670,3.480,-1.220,1.0
2,0.445,-0.13400,-0.710,0.452,-1.610,-0.769,1.220,0.504,1.0
3,0.381,-0.97600,0.693,0.449,0.892,-0.677,2.030,1.530,1.0
4,1.310,-0.69000,-0.676,1.590,-0.693,0.623,1.090,-0.382,1.0
...,...,...,...,...,...,...,...,...,...
99995,0.890,0.81400,-1.440,0.677,-0.704,0.636,2.950,1.620,1.0
99996,0.753,1.08000,1.010,0.918,0.450,-0.630,0.588,-0.176,1.0
99997,0.792,0.00934,-1.380,1.020,-1.440,0.587,0.638,-0.881,1.0
99998,0.514,-1.14000,-0.446,0.814,-0.294,0.555,0.541,1.680,1.0
99999,0.418,1.09000,0.271,0.499,0.834,1.660,0.522,-1.150,1.0

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [6]:
clf = logistic_regression(learning_rate = 0.001)

In [7]:
clf.train(X_train, y_train,epochs = 200,batch_size = 32)

In [8]:
y_pred = clf.predict(X_test)

In [9]:
accuracy_score(y_pred,y_test)

0.7615

In [10]:
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

clf = make_pipeline(StandardScaler(),SGDClassifier(max_iter=200, tol=0.01,loss="log"))
clf.fit(X_train, y_train)

accuracy_score(clf.predict(X_test),y_test)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.75815